<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="templates/css/main.css">
    <link rel="stylesheet" type="text/css"
     href="templates/css/bootstrap.min.css">
    <title>Daily Blog</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <a href="/blog">
                <h1 class="col-md-10">Daily Blog</h1>
            </a>
            <h3 class="col-md-2">
                <a href="/signup">Signup</a>
                <br>
                <a href="/login">User Login</a>
            </h3>
        </div>
        <div class="row">
            <h2>{{username}}</h2>
            <a href="/blog/newpost">
                    <h3 class="col-md-12">Write something?</h3>
            </a>
        </div>
        <div class="row">
            {% block content %}
            {% endblock %}
        </div>
    </div>

</body>
</html>