<!DOCTYPE html>
<html>
<head>
    <title>Sign Up Page</title>
    <link rel="stylesheet" type="text/css" href="templates/css/main.css">
</head>
<body>
    <h1>Signup</h1>
    <br>

    <table>
        <tr>
            <th>Username:</th>
            <td><input type="text"></td>
            <td>{{error}}</td>
        </tr>
        <tr>
            <th>Password:</th>
            <td><input type="password"></td>
        </tr>
        <tr>
            <th>Verify Password:</th>
            <td><input type="password"></td>
        </tr>
        <tr>
            <th>Email (optional):</th>
            <td><input type="text"></td>
        </tr>
    </table>

</body>
</html>